<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <div id="container">
        {{>'./src/templates/test.hbs'}}
    </div>
</body>

</html>